:root {
    --pink: #e0819d;
    --white: #fcfcfc;
    --red: #c1033c;
    --blue: #163052;
    --green: #247155;
    --orange: #f36c31;
    --bred: #ff003d;
    --bgreen: #1fa55d;
}

body {
    color: white;
    background-color: var(--blue);
    font-family: "Roboto Slab", sans-serif;
}

.icon-check {
    color: var(--green);
}
.icon-xmark {
    color: var(--red);
}

input {
    background-color: var(--blue);
}

.old-new {
    color: var(--blue);
    background-color: var(--white);
}

#consoleStop,
#consoleLaunch,
#log {
    margin-bottom: 32px;
    background-color: var(--blue);
    color: white;
    border: 1px solid var(--white);
    width: 600px;
    height: 430px;
    overflow: auto;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background: var(--blue);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    text-align: center;
}

#modal-btn-ok {
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    margin-top: 10px;
}